<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Testing Template for EJS</h1>
    <% fields.forEach(field => { %>
        <li >
            <a href=<%= "/"+ field.name %>><%= field.name %></a>
        </li>
    <% }) %>
</body>
</html>